section.activity
  .activity__header Discover holiday activity ideas
  .activity__collaps
    .activity__collaps__line
      .activity__collaps__line__smbox Sports and Activis
      .activity__collaps__line__smbox Wellness and Health
      .activity__collaps__line__smbox Extreme Sports and Expeditions
    .activity__collaps__line
      .activity__collaps__line__smbox Games
      .activity__collaps__line__box Culture and Education
    .activity__collaps__line
      .activity__collaps__line__box Enjomet and Relaxation
      .activity__collaps__line__smbox Trevelling