section.create
  .create__header
    | Crate your holiday activity
  p.create__hi
    | Hi! What are your holiday interests?
  form.create__form
    input.create__form_text(type='text', placeholder='Enter your insterests')
    input.create__form_btn(type='button', value='Search partners')
