footer.footer
  .footer__content
    .footer__dream DREAMSHARE
    .footer__company
      p.footer__company__name Company
      p.footer__company__dis About
      p.footer__company__dis Contact
      p.footer__company__dis Press
      p.footer__company__dis Blog
      p.footer__company__dis Terms and Privacy
      p.footer__company__dis Help
    .footer__partners Partners
    .footer__logo
      p.footer__logo__text DESIGNED BY
      img.footer__logo__img(src='./Images/Areto.png', alt='')
