section.meet
  .meet__header Meet a partner for your best holiday
  .meet__cards
    .meet__cards__acaunt
      .meet__cards__acaunt__image
        .meet__cards__acaunt__image__circle
          img(src='./Images/music.png', alt='')
      h3.meet__cards__acaunt__name Bradley Hunter
      p.meet__cards__acaunt__descr Based in Chicago. I love playing tennis and loud music.
    .meet__cards__acaunt.hidetabl
      .meet__cards__acaunt__image
        .meet__cards__acaunt__image__circle
          img(src='./Images/pain.png', alt='')
      h3.meet__cards__acaunt__name Marie Bennett
      p.meet__cards__acaunt__descr Currently living in Colorado. Lover of art, languages and travelling.
    .meet__cards__acaunt
      .meet__cards__acaunt__image
        .meet__cards__acaunt__image__circle
          img(src='./Images/camera.png', alt='')
      h3.meet__cards__acaunt__name Diana Wells
      p.meet__cards__acaunt__descr
        | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
    .meet__cards__acaunt.hidedesc
      .meet__cards__acaunt__image
        .meet__cards__acaunt__image__circle
          img(src='./Images/pain.png', alt='')
      h3.meet__cards__acaunt__name Marie Bennett
      p.meet__cards__acaunt__descr Currently living in Colorado. Lover of art, languages and travelling.
    .meet__cards__acaunt
      .meet__cards__acaunt__image
        .meet__cards__acaunt__image__circle
          img(src='./Images/airplane.png', alt='')
      h3.meet__cards__acaunt__name Christopher Pierce
      p.meet__cards__acaunt__descr Star Wars fanatic. I have a persistent enthusiasm to create new things.
  .meet__btn See other partners
