section.work
  h2.work__header How Dreamshare works?
  .work__cards
    .work__cards__step
      .work__cards__step__numb STEP 1
      h3.work__cards__step__name Sed leo enim, condimentum
      p.work__cards__step__descr
        | Quisque libero libero, dictum non turpis in, luctus semper lorem.
        | Donec rhoncus a leo sit amet facilisis.
    .work__cards__step
      .work__cards__step__numb STEP 2
      h3.work__cards__step__name Morbi velit risus
      p.work__cards__step__descr
        | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit
        | amet porttitor est.
    .work__cards__step
      .work__cards__step__numb STEP 3
      h3.work__cards__step__name Sed leo enim, condimentum
      p.work__cards__step__descr
        | Quisque libero libero, dictum non turpis in, luctus semper lorem.
        | Donec rhoncus a leo sit amet facilisis.